<div class="border-b border-gray-900/10 pb-12">
  <h1 class="text-base font-semibold text-4xl text-blue-500">GXWeb Entities</h1>
  <table class="tftable" border="1">
		<tbody>
			<tr>
		    <th>UID</th>
		    <th>Title</th>
		    <th>Description</th>
        <th>Appointments</th>
			</tr>
      <tr>
        <%= render partial: "entity", collection: @entities %>
      </tr>
    </tbody>
  </table>
</div>
