<div data-controller="diary-ui">
  <h1 class="font-bold text-4xl text-blue-500">Diaries</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Appointments</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "diary", collection: @diaries %>
    </tbody>
    <tfoot>
      <th><%= link_to "Bookings", bookings_path, class: 'bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded-lg shadow-sm' %></th>
    </tfoot>
  </table>
</div>
