<div class="container border-b border-gray-900/10 mt-6 pb-12" data-controller="diary-ui">
  <h2 class="font-semibold text-4xl text-blue-500">Diaries</h2>

  <div id="diaries">
    <table class="tftable mt-10">
      <thead>
        <tr>
          <th class="text-left">UID</th>
          <th class="text-left">NAME</th>
          <th colspan="3" class="text-center">BOOKINGS</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "diary", collection: @diaries %>
      </tbody>
    </table>
  </div>
</div>
